 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #12121e;
            color: #f6f5f4;
            align-self: center;
        }
        h1 {
            text-align: center;
        }
        h2 {
            padding: 10px;
            
        }
        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        input[type="text"] {
            padding: 10px;
            width: 300px;
            border: 2px solid #62a0ea;
            border-radius: 20px;
        }
        button {
            padding: 10px;
            margin-left: 10px;
            border: none;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .results {
            text-align: center;
        }
